<div class="col-2 px-1 bg-dark position-fixed" id="sticky-sidebar">
    <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2 bg-light">
        <a href="{{ path('admin_index') }}" class="nav-link">Nástěnka</a>
    </div>
</div>