<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Christmas Calendar</title>
    <meta name="twitter:image" property="twitter:image" content="https://csschristmascalendar.com/assets/og.jpg">
    <meta name="twitter:description" property="twitter:description" content="This page demonstrates that almost any design concept is achievable with only HTML + CSS. No Javascript, no graphics.">
    <meta name="twitter:title" property="twitter:title" content="CSS Christmas Calendar">
    <meta name="twitter:creator" property="twitter:creator" content="@Login">
    <meta name="twitter:card" property="twitter:card" content="summary">
    <meta name="og:image" property="og:image" content="https://csschristmascalendar.com/assets/og.jpg">
    <meta name="og:description" property="og:description" content="This page demonstrates that almost any design concept is achievable with only HTML + CSS. No Javascript, no graphics.">
    <meta name="og:title" property="og:title" content="CSS Christmas Calendar">
    <meta name="og:type" property="og:type" content="website">
    <meta name="og:url" property="og:url" content="https://csschristmascalendar.com">
    <meta name="image" content="https://csschristmascalendar.com/assets/og.jpg">
    <meta name="description" content="This page demonstrates that almost any design concept is achievable with only HTML + CSS. No Javascript, no graphics.">
    <link rel="icon" type="image/png" href="./assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./assets/favicon-16x16.png" sizes="16x16" />
    {{ encore_entry_link_tags('styles') }}

    <script defer data-domain="csschristmascalendar.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
{% block body %}
{% endblock %}
<footer>
    <div><span class="footer-info">L</span>
        <div>Follow me on Twitter: <a href="{{ path('app_login') }}">@Login</a></div>
    </div>
</footer>
{{ encore_entry_script_tags('styles') }}
</body>
</html>